# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.myenv
myenv/
# Flask and other virtual environments
venv/
env/
*.env
*.venv
python-3.12.0-amd64.exe

# IDEs and text editor files (add more as needed)
.vscode/
.idea/
*.swp
*~
*.sublime-workspace
*.sublime-project

# Mac system files (optional)
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# log files
*.log

# Flask migrations folder
migrations/

# .env file for sensitive information like database keys (optional)
.env
.myenv

# Coverage reports (optional but useful)
.coverage
.coverage.*
*.coveragerc

# Test directories (if using pytest, for example)
tests/__pycache__/
